{{#if prompt}}
  <option value="" disabled selected={{is-not selection}}>
    {{prompt}}
  </option>
{{/if}}

{{#each content key="@identity" as |item|}}
  <option value="{{read-path item optionValuePath}}" selected={{is-equal-by-path item value optionValuePath}}>
    {{read-path item optionLabelPath}}
  </option>
{{/each}}
